<html>

  <head>

    <title>Home</title>
    <style media="screen">
      h1{
        text-align:center ;
        color: gray;
      }
      #about{
        background-color: white;
        float: right;
        border-style: solid;
        border-color: red;
        border-radius: 5px;
        padding: 10px;
        margin-top: 300px;
      }

    </style>


  </head>
  <body background="http://images2.fanpop.com/image/photos/9300000/Nice-View-random-9302216-2560-1600.jpg">
    <h1>Welcome to home page</h1>

  </body>
  <footer>

    <p id="about"><%= link_to 'About', welcome_about_path %></p>
  </footer>
</html>
