@import "bootstrap";


#logo{
  color: red !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: -2px;
  font-family: Karla,sans-serif !important;
  font-weight: bold;
}

#mengnguon{
  background-color: #ee4d4d !important;
  color: #f2f2f2;
  font-family: arial;
}

.btn-outline-success{
  border-color: red !important;
  color: red !important;
}
#btn-color:hover {
  color:white !important;
  background-color: red;
}

.navbar{
  padding: 7px;
}

#text-style{
    font-weight: bold;
}

.btn-size{
  padding: 5px;
  float: right;
}
